<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats Calculator</title>
    <style>
#meanAnchor {
  border: 3px solid blue;
  float: left;
  width: 8%;
}
#medianAnchor {
  border: 3px solid blue;
  float: left;
  width: 8%;
}
#modeAnchor {
  border: 3px solid blue;
  float: left;
  width: 8%;
}
#sumAnchor {
  border: 3px solid blue;
  float: left;
  width: 8%;
}
#covarianceAnchor {
  border: 3px solid blue;
  float: left;
  width: 8%;
  margin-right:8em
}
</style>

</head>
<body style = "background-color:rgb(71, 172, 116);">
    <h1 style="background-color:rgb(255, 255, 255);">Read About:</h1>
    
    <p id="meanAnchor" style="margin-left:8em"><a href="#Mean Section">
        Mean
      </a></p>
      <p id ="medianAnchor" style="margin-left:8em"><a href="#Median Section">
        Median
      </a></p>
      <p id="modeAnchor" style="margin-left:8em"><a href="#Mode Section">
        Mode
      </a></p>
      <p id="sumAnchor" style="margin-left:8em"><a href="#Sum Section">
        Sum
      </a></p>
      <p id ="covarianceAnchor" style="margin-left:8em"><a href="#Covariance Section">
        Covariance
      </a></p>

      <!-- Mean Section -->
      <h2 id="Mean Section">Mean</h2>
        <p>There are several kinds of mean in mathematics, especially in statistics. 
            For a data set, the arithmetic mean, also known as arithmetic average, is a central 
            value of a finite set of numbers: specifically, the sum of the values divided by the number of 
            values.

            In statistics and probability theory, the median is the value separating the higher half from the
             lower half of a data sample, a population, or a probability distribution. For a data set, it may 
             be thought of as "the middle" value. The basic feature of the median in describing data compared 
             to the mean (often simply described as the "average") is that it is not skewed by a small proportion
              of extremely large or small values, and therefore provides a better representation of a "typical" value.
               Median income, for example, may be a better way to suggest what a "typical" income is, because income 
               distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                contaminated, the median is not an arbitrarily large or small result.In statistics and probability theory, the median is the value separating the higher half from the
                lower half of a data sample, a population, or a probability distribution. For a data set, it may 
                be thought of as "the middle" value. The basic feature of the median in describing data compared 
                to the mean (often simply described as the "average") is that it is not skewed by a small proportion
                 of extremely large or small values, and therefore provides a better representation of a "typical" value.
                  Median income, for example, may be a better way to suggest what a "typical" income is, because income 
                  distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                   most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                   contaminated, the median is not an arbitrarily large or small result.In statistics and probability theory, the median is the value separating the higher half from the
                   lower half of a data sample, a population, or a probability distribution. For a data set, it may 
                   be thought of as "the middle" value. The basic feature of the median in describing data compared 
                   to the mean (often simply described as the "average") is that it is not skewed by a small proportion
                    of extremely large or small values, and therefore provides a better representation of a "typical" value.
                     Median income, for example, may be a better way to suggest what a "typical" income is, because income 
                     distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                      most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                      contaminated, the median is not an arbitrarily large or small result.In statistics and probability theory, the median is the value separating the higher half from the
                      lower half of a data sample, a population, or a probability distribution. For a data set, it may 
                      be thought of as "the middle" value. The basic feature of the median in describing data compared 
                      to the mean (often simply described as the "average") is that it is not skewed by a small proportion
                       of extremely large or small values, and therefore provides a better representation of a "typical" value.
                        Median income, for example, may be a better way to suggest what a "typical" income is, because income 
                        distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                         most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                         contaminated, the median is not an arbitrarily large or small result.In statistics and probability theory, the median is the value separating the higher half from the
                         lower half of a data sample, a population, or a probability distribution. For a data set, it may 
                         be thought of as "the middle" value. The basic feature of the median in describing data compared 
                         to the mean (often simply described as the "average") is that it is not skewed by a small proportion
                          of extremely large or small values, and therefore provides a better representation of a "typical" value.
                           Median income, for example, may be a better way to suggest what a "typical" income is, because income 
                           distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                            most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                            contaminated, the median is not an arbitrarily large or small result.In statistics and probability theory, the median is the value separating the higher half from the
                            lower half of a data sample, a population, or a probability distribution. For a data set, it may 
                            be thought of as "the middle" value. The basic feature of the median in describing data compared 
                            to the mean (often simply described as the "average") is that it is not skewed by a small proportion
                             of extremely large or small values, and therefore provides a better representation of a "typical" value.
                              Median income, for example, may be a better way to suggest what a "typical" income is, because income 
                              distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                               most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                               contaminated, the median is not an arbitrarily large or small result.In statistics and probability theory, the median is the value separating the higher half from the
                               lower half of a data sample, a population, or a probability distribution. For a data set, it may 
                               be thought of as "the middle" value. The basic feature of the median in describing data compared 
                               to the mean (often simply described as the "average") is that it is not skewed by a small proportion
                                of extremely large or small values, and therefore provides a better representation of a "typical" value.
                                 Median income, for example, may be a better way to suggest what a "typical" income is, because income 
                                 distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                                  most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                                  contaminated, the median is not an arbitrarily large or small result.In statistics and probability theory, the median is the value separating the higher half from the
                                  lower half of a data sample, a population, or a probability distribution. For a data set, it may 
                                  be thought of as "the middle" value. The basic feature of the median in describing data compared 
                                  to the mean (often simply described as the "average") is that it is not skewed by a small proportion
                                   of extremely large or small values, and therefore provides a better representation of a "typical" value.
                                    Median income, for example, may be a better way to suggest what a "typical" income is, because income 
                                    distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                                     most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                                     contaminated, the median is not an arbitrarily large or small result.In statistics and probability theory, the median is the value separating the higher half from the
                                     lower half of a data sample, a population, or a probability distribution. For a data set, it may 
                                     be thought of as "the middle" value. The basic feature of the median in describing data compared 
                                     to the mean (often simply described as the "average") is that it is not skewed by a small proportion
                                      of extremely large or small values, and therefore provides a better representation of a "typical" value.
                                       Median income, for example, may be a better way to suggest what a "typical" income is, because income 
                                       distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                                        most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                                        contaminated, the median is not an arbitrarily large or small result.In statistics and probability theory, the median is the value separating the higher half from the
                                        lower half of a data sample, a population, or a probability distribution. For a data set, it may 
                                        be thought of as "the middle" value. The basic feature of the median in describing data compared 
                                        to the mean (often simply described as the "average") is that it is not skewed by a small proportion
                                         of extremely large or small values, and therefore provides a better representation of a "typical" value.
                                          Median income, for example, may be a better way to suggest what a "typical" income is, because income 
                                          distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                                           most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                                           contaminated, the median is not an arbitrarily large or small result.
        </p>

    <!-- Median Section -->      
      <h2 id="Median Section">Median</h2>
        <p>In statistics and probability theory, the median is the value separating the higher half from the
             lower half of a data sample, a population, or a probability distribution. For a data set, it may 
             be thought of as "the middle" value. The basic feature of the median in describing data compared 
             to the mean (often simply described as the "average") is that it is not skewed by a small proportion
              of extremely large or small values, and therefore provides a better representation of a "typical" value.
               Median income, for example, may be a better way to suggest what a "typical" income is, because income 
               distribution can be very skewed. The median is of central importance in robust statistics, as it is the
                most resistant statistic, having a breakdown point of 50%: so long as no more than half the data are 
                contaminated, the median is not an arbitrarily large or small result.</p>

    <!-- Mode Section -->      
      <h2 id="Mode Section">Mode</h2>
        <p>For a sample from a continuous distribution, such as [0.935..., 1.211..., 2.430..., 3.668..., 3.874...], 
            the concept is unusable in its raw form, since no two values will be exactly the same, so each value will 
            occur precisely once. In order to estimate the mode of the underlying distribution, the usual practice is 
            to discretize the data by assigning frequency values to intervals of equal distance, as for making a histogram
            , effectively replacing the values by the midpoints of the intervals they are assigned to. The mode is then the 
            value where the histogram reaches its peak. For small or middle-sized samples the outcome of this procedure is 
            sensitive to the choice of interval width if chosen too narrow or too wide; typically one should have a sizable 
            fraction of the data concentrated in a relatively small number of intervals (5 to 10), while the fraction of the 
            data falling outside these intervals is also sizable. An alternate approach is kernel density estimation, which 
            essentially blurs point samples to produce a continuous estimate of the probability density function which can 
            provide an estimate of the mode</p>

    <!-- Sum Section -->      
      <h2 id="Sum Section">Sum</h2>
        <p>The summation of an explicit sequence is denoted as a succession of additions. For example, 
            summation of [1, 2, 4, 2] is denoted 1 + 2 + 4 + 2, and results in 9, that is, 1 + 2 + 4 + 2 = 9. 
            Because addition is associative and commutative, there is no need of parentheses, and the result is 
            the same irrespective of the order of the summands. Summation of a sequence of only one element results 
            in this element itself. Summation of an empty sequence (a sequence with no elements), by convention, results
            in 0.</p>

    <!-- Covariance Section -->      
      <h2 id="Covariance Section">Covariance</h2>
        <p>In probability theory and statistics, covariance is a measure of the joint variability of two random 
            variables.[1] If the greater values of one variable mainly correspond with the greater values of the other
             variable, and the same holds for the lesser values (that is, the variables tend to show similar behavior), 
             the covariance is positive.[2] In the opposite case, when the greater values of one variable mainly 
             correspond to the lesser values of the other, (that is, the variables tend to show opposite behavior), the
              covariance is negative. The sign of the covariance therefore shows the tendency in the linear relationship
               between the variables. The magnitude of the covariance is not easy to interpret because it is not 
               normalized and hence depends on the magnitudes of the variables. The normalized version of the covariance,
                the correlation coefficient, however, shows by its magnitude the strength of the linear relation.</p>


</body>
</html>