<!-- started by auto formatted."!"->"enter"... provides basic HTML template for all projects -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- name -->
    <title>Stats Calculator</title>

    <!-- used for Title style -->
    <style>
        .center {
            text-align-last: center;
            border: 2px solid black;
            margin-bottom: 80px;
        }
    </style>

    <!-- used for Button style -->
    <style>
        .link_button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    .link_button {background-color: #13799b;}
    </style>

</head>
<body>
    <h1 style = "text-align:center">
        Statistics Calculator
    </h1>
    
    <!-- <div> tag is a block/section/division of a webpage that has a specific design layout -->
        <div class = "center">
            <!-- think of "p" as paragraph -->
            <p>
                <font color = "blue">
                    made by Matthew Cimerola
                </font>
            </p>
        </div>
    

    <body>
        <img src=https://media2.giphy.com/media/DS89v1NqpzCqA/200w.webp?cid=ecf05e47gnw0q1heij2ymxtc5hymfo2rekzowv2g38iklcqv&rid=200w.webp&ct=g"
            width="425" 
            height="450" 
            style="float:left">
     </body>
     <body>
        <img src="https://media2.giphy.com/media/DS89v1NqpzCqA/200w.webp?cid=ecf05e47gnw0q1heij2ymxtc5hymfo2rekzowv2g38iklcqv&rid=200w.webp&ct=g"
            width="425" 
            height="450" 
            style="float:right">
     </body>


    <h3 style = "text-align: center">
        Enter data set
    </h3>
        <!-- outputs all the stats after button is clicked -->
    <form style="text-align: center; "
            action="/pages/statistics/" method = "POST">
        <div class = "calculatorInputs">
            <div class = "calculatorInputgroup">
                <label for = "input"></label>
                <textarea name = "input" id = "input" cols = "30"
                            rows = "4" 
                            autofocus required
                            >
                        </textarea>
            </div>
        </div>
        <button type="submit">Calculate Stats!</button>
        <p>Standard Deviation: <strong>{{stdev}}</strong></p>
        <p>Variance: <strong>{{variance}}</strong></p>
        <p>Median: <strong>{{median}}</strong></p>
        <p>Mode: <strong>{{mode}}</strong></p>
    </form>

    
    <h3 style = "text-align: center">
        Enter two data sets
    </h3>
        <!-- outputs stats of two data sets -->
    <form style="text-align: center; "
        action="/pages/twosets/" method = "POST">
        <div class = "calculatorInputs">
            <div class = "calculatorInputgroup">
                <label for = "input1"></label>
                <textarea name = "input1" id = "input1" cols = "30"
                            rows = "4"
                            autofocus required>
                        </textarea>
            </div>
        </div>
   
        
        <div class = "calculatorInputs">
            <div class = "calculatorInputgroup">
                <label for = "input2"></label>
                <textarea name = "input2" id = "input2" cols = "30"
                            rows = "4"
                            autofocus required>
                        </textarea>
            </div>
        </div>
        <button type="submit">Calculate Stats!</button>
        <p>Covariance: <strong>{{covariance}}</strong></p>
        <p>Correlation Coefficient: <strong>{{correlation}}</strong></p>
    </form>


    <div class = "center">
        <p>
            <font color = "blue">
                https://github.com/matt-cim
            </font>
        </p>
    </div>


    <!-- runs javascript -->
    <script
        type = "text/javascript"
        src = "{{ url_for('static', filename = 'javascript.js')}}"
    ></script>
</body>
</html>